<body>
  <form class="task-form">
    <h4>task manager</h4>
    <div class="form-control">
      <input
        type="text"
        name="name"
        class="task-input"
        placeholder="e.g. wash dishes"
      />
      <button type="submit" class="btn submit-btn">submit</button>
    </div>
    <div class="form-alert"></div>
  </form>
  <section class="tasks-container">
    <p class="loading-text">Loading...</p>
    <div class="tasks"></div>
  </section>
</body>
